* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: "ğ—ğ—”ğ—Ÿğ—œğ—¡ ğ—¬ğ—”ğ—­ğ—œ", sans-serif;
}

.res {
    display: flex;
    align-items: center;
}

.row {
    padding: 0 55px;
    min-height: 100vh;
    justify-content: center;
    background: #f0f2f5;
}

.fb-form {
    justify-content: space-between;
    max-width: 900px;
    width: 200%;
}

    .fb-form .card {
        margin-bottom: 80px;
    }

    .fb-form h1 {
        color: dodgerblue;
        font-size: 5rem;
        margin-bottom: 15px;
    }

    .fb-form p {
        font-size: 1.75rem;
        white-space: nowrap;
    }

form {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

    form input {
        height: 55px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 6px;
        margin-bottom: 15px;
        font-size: 1rem;
        padding: 0 14px;
    }

  



.fb-submit {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

    .fb-submit .login {
        border: none;
        outline: none;
        cursor: pointer;
        background: #1877f2;
        padding: 15px 0;
        border-radius: 6px;
        color: #fff;
        font-size: 1.25rem;
        font-weight: 600;
        transition: 0.2s ease;
    }

        .fb-submit .login:hover {
            background: #0d65d9;
        }

form a {
    text-decoration: none;
}

.fb-submit .forgot {
    color: #1877f2;
    font-size: 0.875rem;
}

    .fb-submit .forgot:hover {
        text-decoration: underline;
    }

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 20px;
}



}
